

extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Resultados: de busqueda
          .row.rowtabla
            .row
              .col
                table.table.table-bordered.tabla
                  thead
                    tr
                      th(scope='col') Nombre
                      th(scope='col') Autor
                      th(scope='col') Editorial
                      th(scope='col') Unidades Disponibles
                      th(scope='col') Ver detalles
                  tbody
                    each libro in Libro 
                      tr
                        th #{libro.Nombre}
                        td #{libro.Autor.Nombre} 
                        td 
                          each editorial in libro.Editorial2
                            editorial.Nombre
                            - console.log('editorial.Nombre');
                        td #{libro.UnidadesDisponibles}

                        td(align='center')
                          a(href='/administrar/vista-libro')
                            img(src='/images/icon-mas.png', width='30px')
                      