extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Registrar libro
          .row.rowtabla
            .col-4
              .row
                img.dic(src='/images/diccionario.png')
              .row
                .col
                  a.btn.btn-danger.opciones(type='button', href='/administrar/admin_buscar')
                    | Cancelar
                .col
                  a.btn.btn-success.opciones(type='button', href='/.') 
                    | Aceptar
              .row
                .col
                  .input-group.file
                    input#inputGroupFile04.form-control(type='file', aria-describedby='inputGroupFileAddon04', aria-label='Upload')
                    button#inputGroupFileAddon04.ov-btn-grow-spin.guardar(type='button') Guardar

            .col-8
              .container-fluid
                br
                h5 Datos del libros
                .row
                  form(action='/administrar/crear_libro' method='post')
                    .row
                      .col
                        
                        label.form-label(for='nombre') Nombre:
                        input#nombre.form-control(type='text' name='nombre' )
                        label.form-label(for='autor') Autor:
                        input#autor.form-control(type='text' name='autor' )
                        label.form-label(for='editorial') Editorial:
                        input#editorial.form-control(type='text' name='editorial' )
                        label.form-label(for='lugarEd') Lugar Edición:
                        input#lugarEd.form-control(type='text' name='lugarEd' )
                        label.form-label(for='fechaEd') Fecha Edición:
                        input#fechaEd.form-control(type='text' name='fechaEd' )
                        label.form-label(for='anioEn') Año Entrada:
                        input#anioEn.form-control(type='text' name='anioEn' )
                      .col
                        label.form-label(for='unidadesD') Unidades Disponibles:
                        input#unidadesD.form-control(type='number' name='unidadesD' )
                        label.form-label(for='totalUn') Total Unidades:
                        input#totalUn.form-control(type='number' name='totalUn' )
                        label.form-label(for='numPag') No . págs.:
                        input#numPag.form-control(type='number' name='numPag' )
                        .row
                          .col
                            label.form-label(for='numIn') No. Inventario:
                            input#numIn.form-control(type='number' name='numIn' )
                          .col
                            label.form-label(for='anaquel') Anaquel-charola:
                            input#anaquel.form-control(type='text' name='anaquel')
                        .row
                          .col
                            label.form-label(for='clasificacion') Clasificación:
                            input#clasificacion.form-control(type='text' name='clasificacion' )
                          
                        label.form-label(for='observaciones') Observaciones:
                        input#observaciones.form-control(type='text' name='observaciones')
                        label.form-label(for='descripcion') Descripción:
                        input#descripcion.form-control(type='text' name='descripcion')
                        .row
                          .col(style='text-align: right; padding-top: 10px')
                            button.btn(href='#') Cancelar
                            button.btn.btn-danger(type='submit')
                              | Registar      